[submodule "/nfs/turbo/sph-hmkang/index/data/weiqiuc/NovaScope/submodules/ficture"]
	path = /nfs/turbo/sph-hmkang/index/data/weiqiuc/NovaScope/submodules/ficture
	url = https://github.com/seqscope/ficture
	branch = stable
